apiVersion: v1
kind: Secret
metadata:
  name: bot-secrets
type: Opaque
data:
  consumer_key: abcefghijklmnqrstuvwxyz12345
  consumer_secret: abcefghijklmnqrstuvwxyz12345
  access_token: 12345-JrJqFooBar
  access_token_secret: abcefghijklmnqrstuvwxyz12345
